header {
  background-color: #233;
  color: white;
  padding: 2rem;
}

.App {
  position: relative;
  height: 4000px;
}

.container {
  width: 30vw;
  height: 50vh;
  padding: 1rem;
  margin: 2rem auto;
  background-image: url("./../public/3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  height: 100vh;
  border: 1px solid black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s1 { 
  background-image: url("./../public/1.jpg");
}
.s2 { 
  background-image: url("./../public/2.jpg");
}
.s3 { 
  background-image: url("./../public/3.jpg");
}
.s4 { 
  background-image: url("./../public/1.jpg");
}

