header {
  background-color: #233;
  color: white;
  padding: 2rem;
}

.App {
  position: relative;
  height: 4000px;
}

.container {
  width: 30vw;
  height: 50vh;
  padding: 1rem;
  background-color: aquamarine;
  margin: 2rem auto;
}

.section {
  height: 50px;
  border: 1px solid black;
}

